body{
    font: 15px/1.5 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #A2D7E9;
}

/* Global */
.container{
    width: 70%;
    margin: auto;
    overflow: hidden;
}

article#about-col{
    float: right;
    width: 65%;
}
aside#leftbar .create input{
    float: left;
    width: 30%;
    margin-top: 10px;
}

ul{
    margin: 0;
    padding: 0;
}
.button_1{
    height: 38px;
    border: 0;
    background: #021E27;
    padding-left: 20px;
    padding-right: 20px; 
    color: #cccccc;
}

ul#orders li{
    list-style: none;
    padding: 20px;
    border: #cccccc solid 1px;
    margin-bottom: 5px;
    background: #D8F6FF;
}
.label{
    margin-bottom: 40px;
}

.navy{
    padding: 15px;
    background: #0B5068;
    color: #cccccc;
    margin-top: 10px;
    margin-bottom: 10px;
}


/* header */
header{
    background: #0B5068;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
}

header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}
header #brand{
    float: left;
}
header #brand h1{
    margin: 0;
}
header nav{
    float: right;
    margin-top: 10px;
}
header .highlight{
    color: #A2D7E9;
    font-weight: bold;
}
header a:hover{
    color: #cccccc;
    font-weight: bold;
}

/* display */

#display{
    min-height: 400px;
    background: url('../img/showcase.jpg') no-repeat 0 -400px;
    text-align: center;
  
}
#display h1{
    margin-top: 130px;
    font-size: 55px;
    margin-bottom: 10px;

}
#display p{
    font-size: 20px;
}

/* squares */
#squares{
    margin-top: 20px;
}

#squares .box{
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
}
#squares .box img{
    width: 90px;
    border-radius: 50%;
}

/** ft-orders-display-users-161595954 **/

aside#leftbar .create input{
    width: 90%;
    margin-top: 10px;
}

/* footer */
footer{
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #0B5068;
    text-align: center;
}


/**** login-page ****/


/* Styles for input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* style for button */
#loginbut {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}


/* Center the avatar image inside this container */
.sizeimg {
    text-align: center;
    margin: 20px 0 12px 0;
}

/* Avatar image */
img.userlog {
    width: 40%;
    border-radius: 50%;
}

/* Add padding to containers */
.inputfield {
    padding: 16px;
}

/* The "Forgot password" text */
span.assord {
    float: right;
    padding-top: 16px;
}

/* social media icons*/
.fab {
    padding: 15px;
    font-size: 25px;
}
.fab:hover {
    color: #D5D5D5;
    text-decoration: none;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-twitter-square {
    background: #55ACEE;
    color: white;
}
.fa-google-plus-square {
    background: #dd4b39;
    color: white;
}
.fa-linkedin {
    background: #007bb5;
    color: white;
}
.fa-instagram {
    background: #d6249f;
    color: #ffffff;  
}

/* mobile responsiveness */
@media(max-width: 768px){
    header #brand,
    header nav,
    header nav li,
    #squares .box
    article#about-col,
    aside#leftbar{
        float: none;
        text-align: center;
        width: 100%;
    }
    header{
        padding-bottom: 20px; 
    }
    #display h1{
        margin-top: 40px;
    }
    .order button{
        display: block;
        width: 100%;
    }
    .fab {
        font-size: 20px;
        padding: 10px;
    }
}
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.assord {
        display: block;
        float: none;
    }
}