body{
    font: 15px/1.5 'Montserrat', sans-serif;
    padding: o;
    margin: 0;
    background-color: #A2D7E9;
}

/* Global */
.container{
    width: 70%;
    margin: auto;
    overflow: hidden;
}

article#about-col{
    float: right;
    width: 65%;
}
aside#leftbar{
    float: left;
    width: 30%;
    margin-top: 10px;
}
ul{
    margin: 0;
    padding: 0;
}
.button_1{
    height: 38px;
    background: #08242D;
    border: none;
    padding-right: 20px;
    padding-left: 20px;
    color: #cccccc;
}

ul#orders li{
    list-style: none;
    padding: 20px;
    border: #cccccc solid 1px;
    margin-bottom: 5px;
    background: #D8F6FF;
}
.label{
    margin-bottom: 40px;
}
input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}



/* header */
header{
    background: #0B5068;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
}

header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}
header #brand{
    float: left;
}
header #brand h1{
    margin: 0;
}
header nav{
    float: right;
    margin-top: 10px;
}
header .highlight{
    color: #A2D7E9;
    font-weight: bold;
}
header a:hover{
    color: #cccccc;
    font-weight: bold;
}


/* footer */
footer{
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #0B5068;
    text-align: center;
}

/* Media queries*/
@media(max-width: 768px){
    header #brand,
    header nav,
    header nav li,
    article#about-col,
    aside#leftbar{
        float: none;
        text-align: center;
        width: 100%;
    }
    header{
        padding-bottom: 20px; 
    }
    .order button{
        display: block;
        width: 100%;
    }
}