body{
    font: 15px/1.5 'Montserrat', sans-serif;
    padding: o;
    margin: 0;
    background-color: #A2D7E9;
}

/* Global */
.container{
    width: 70%;
    margin: auto;
    overflow: hidden;
}

ul{
    margin: 0;
    padding: 0;
}

/* header */
header{
    background: #0B5068;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
}

header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}
header #brand{
    float: left;
}
header #brand h1{
    margin: 0;
}
header nav{
    float: right;
    margin-top: 10px;
}
header .highlight{
    color: #A2D7E9;
    font-weight: bold;
}
header a:hover{
    color: #cccccc;
    font-weight: bold;
}

/* display */

#display{
    min-height: 400px;
    background: url('../img/showcase.jpg') no-repeat 0 -400px;
    text-align: center;
  
}
#display h1{
    margin-top: 130px;
    font-size: 55px;
    margin-bottom: 10px;

}
#display p{
    font-size: 20px;
}
/* squares */
#squares{
    margin-top: 20px;
}

#squares .box{
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
}
#squares .box img{
    width: 90px;
    border-radius: 50%;
}

/* footer */
footer{
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #0B5068;
    text-align: center;
}

/**** login-page ****/


/* Styles for input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* style for button */
#loginbut {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}


/* Center the avatar image inside this container */
.sizeimg {
    text-align: center;
    margin: 20px 0 12px 0;
}

/* Avatar image */
img.userlog {
    width: 40%;
    border-radius: 50%;
}

/* Add padding to containers */
.inputfield {
    padding: 16px;
}

/* The "Forgot password" text */
span.assord {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.assord {
        display: block;
        float: none;
    }

}